.container {
  max-width: 540px;
  min-height: 100vh;
}

.fixed-bottom {
  width: 540px;
  margin: 0 auto;
  height: 60px;
}

.link {
  text-decoration: none;
}

.bg-blue {
  background-color: #3778c2;
  color: #fff;
}

.icon {
  width: 50px;
  height: 50px;
}
