<nav class="navbar-dark container">
  <div class='container-fluid d-flex align-items-center'>
    <%= link_to "Timetivity", root_path, class: 'navbar-brand' %>
    <ul class="d-flex align-items-center mb-2 mb-lg-0 w-100 pt-2">
      <%= nav_links %>
    </ul>
  </div>
</nav>
